<form action='/login' method='post'>
  <label for='input'>Email</label>
  <input type='input' id='input-email' name='username' placeholder='Username' />

  <label for='input-password'>Password</label>
  <input
    type='password'
    id='input-password'
    name='password'
    placeholder='Password'
  />

  <button>Register new Account</button>
</form>