<form action='/register' method='post'>
  <label for='input-name'>Full Name</label>
  <input type='text' id='input-name' name='username' placeholder='Full Name' />

  <label for='input-password'>Password</label>
  <input
    type='password'
    id='input-password'
    name='password'
    placeholder='Password'
  />

  <button>Register new Account</button>
</form>